*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: #30336b;
    color: #ffffff;
}
.text-center{
    text-align: center;
    padding: 15px 0;
}
.Container{
    width: 60%;
    margin: 10% auto;
}
/* /// */
.Listitem{
    background-color: #ffffff;
    color: #30336b;
}
.Listitem p{
    color: #30336b;
    text-align: center;
    padding: 10px 0;
    margin: 0;
}
.Listitem span{
    display: inline-block;
    text-align: center;
    padding: 10px 0;
    font-size: 20px;
    border: 0.3px solid #cccccc;
}
.Listitem span.title{
    background-color: #686de0;
    color: #ffffff;
}
.Listitem span.name,
form input[type=text]{
    width: 60%;
}
.Listitem span.age,
form input[type=number]{
    width: 20%;
}
.Listitem span.action,
form input[type=submit]{
    width: 20%;
}
.Listitem span.icon{
    cursor: pointer;
    color: #e74c3c;
    transition: all .3s ease-in-out;
}
.Listitem span.icon:hover{
   background-color: #e74c3c;
   color: #ffffff;
}
form input{
    padding: 10px;
    background-color: #ebebeb;
    border: transparent;
    border: .3px solid#cccccc;
}
form input[type=submit]{
    background-color: #686de0;
    color: #ffffff;
    border: .3px solid#cccccc;
    cursor: pointer;
}